<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no">
<title>Insert title here</title>
<link href="../../META-INF/resources/bootstrap/css/bootstrap.css"
	rel="stylesheet">
<script type="text/javascript"
	src="../../META-INF/resources/jquery/jquery.js"></script>
<script type="text/javascript"
	src="../../META-INF/resources/bootstrap/js/bootstrap.js"></script>
</head>
<body>
	<div class="container">
		<h1 class="text-header text-center text-uppercase">hjddf</h1>

		<ol class=" list-inline">
			<li>aaa</li>
			<li>aaa</li>
			<li>彭好好奋斗</li>
		</ol>


		<table
			class="table table-bordered table-hover table-striped table-condensed ">
			<tr>
				<td>aa</td>
				<td>aa</td>
				<td>aa</td>
			</tr>
			<tr>
				<td>rr</td>
				<td>er</td>
				<td>df</td>
			</tr>
			<tr>
				<td>fdf</td>
				<td>sadfds</td>
				<td>fdsaf</td>
			</tr>
		</table>


		<img src="../../META-INF/resources/img/Desert.jpg" />

		<div class="row">
			<div class="col-md-4">
				<img src="../../META-INF/resources/img/Chrysanthemum.jpg"
					class="img-responsive img-thumbnail" />
					<h1 class="page-header">好久放多少</h1>
					<p>富士康的附件是掉了上的客服经理的开始放假开发建设的路口附近附近开了
					多少分就是放开来的积分 我们强烈推荐您在文档的每个图像中都使用这个属性。这
					样即使图像无法显示，用户还是可以看到关于丢失了什么东西的一些信息。而且对于残疾
					人来说，alt 属性通常是他们了解图像内容的唯一方式。</p>
			</div>
			<div class="col-md-4">
				<img src="../../META-INF/resources/img/Desert.jpg"
					class="img-responsive img-thumbnail"/ >
					<h1 class="page-header">好久放多少</h1>
					<p>富士康的附件是掉了上的客服经理的开始放假开发建设的路口附近附近开了
					多少分就是放开来的积分 我们强烈推荐您在文档的每个图像中都使用这个属性。这
					样即使图像无法显示，用户还是可以看到关于丢失了什么东西的一些信息。而且对于残疾
					人来说，alt 属性通常是他们了解图像内容的唯一方式。</p>
			</div>
			<div class="col-md-4">
				<img src="../../META-INF/resources/img/Hydrangeas.jpg"
					class="img-responsive img-thumbnail" />
					<h1 class="page-header">好久放多少</h1>
					<p>富士康的附件是掉了上的客服经理的开始放假开发建设的路口附近附近开了
					多少分就是放开来的积分 我们强烈推荐您在文档的每个图像中都使用这个属性。这
					样即使图像无法显示，用户还是可以看到关于丢失了什么东西的一些信息。而且对于残疾
					人来说，alt 属性通常是他们了解图像内容的唯一方式。</p>
			</div>
		</div>
	</div>




</body>
</html>